body{
    user-select: none;
    background-color: #8d8d8d
}
#root {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}
.inner-container{
    outline: 5px solid orange;
position: relative;
width: 660px;
text-align: center;
background-color: #b3b3b3
}
.inner-container .pad-bank {
    width: 332px;
    height: 272px;
    display: inline-block;
    margin: 20px;
}
.inner-container {
    text-align: center;
}
body {
    font-family: Russo One;
}
.inner-container .pad-bank .drum-pad {
    position: relative;
    float: left;
    width: 100px;
    height: 80px;
    margin-right: 10px;
    border-radius: 5px;
    padding-top: 35px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: grey;
    margin-top: 10px;
    box-shadow: black 3px 3px 5px;

}
.inner-container .pad-bank .drum-pad {
    cursor: pointer;
}
.inner-container .logo {
    position: absolute;
    top: 5px;
    right: 10px;
}
.inner-container .logo .inner-logo {
    display: inline-block;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-free-code-camp::before {
    content: "\f2c5";
}